@use "../main" as *;
@use "../vendors/include-media" as breakpoint;

@mixin label-text {
  label {
    height: 1rem;
    display: block;
    margin-bottom: 0.25rem;
    color: rgba($black, 0.75);
  }
}
@mixin p-text {
  p {
    @include font($font-bold, inherit);
    color: $secondary;
    margin-bottom: 0.25rem;
  }
}
@mixin error-text {
  .error-text {
    height: 1rem;
    color: $alert;
    margin-top: 0.25rem;
  }
}

@mixin input-field {
  input,
  textarea {
    width: 100%;
    border: 1px solid $accent;
    padding: 0.5rem;
    background: $bg;
    transition: all 100ms ease-in;
    &:focus {
      background: $white;
      outline: 3px solid $accent;
      outline-offset: -4px;
      border: 1px solid transparent;
    }
  }
  textarea {
    height: 10rem;
  }
}

@mixin form-btn {
  button {
    @include btn-anim-outline(
      10rem,
      1px solid transparent,
      $white,
      $accent
    ) {
      filter: brightness(70%);
    }
    @include font($font-bold, $font-sans);
    letter-spacing: 2px;
    background-color: $accent;
    color: $white;
  }
}
