@use "../abstracts/mixins";
@use "../abstracts/variables";
@use "../vendors/include-media";
@use "../layout/button";
@use "./sliderControls.scss" as *;

@mixin homeSlider() {
  position: relative;

  &-h-wrapper {
    @include mixins.flex($center: true);
    margin: 1.5em 0rem;

    h1 {
      color: variables.$secondary;
    }
  }

  &-controls {
    overflow: hidden;
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-bottom: 3rem;
  }

  @include slider-controls;

  &-cta {
    @include mixins.flex($center: true);
    margin: 3rem auto;
    width: 100%;

    & .cta-btn {
      @include button.Button-anim-icon(
        15rem,
        (
          background-color: variables.$accent,
          border-radius: 10px,
        ),
        "\f3d1",
        "Ionicons",
        variables.$primary
      );
      @include mixins.font(variables.$font-bold, variables.$font-sans);
      font-size: variables.$font-sm;
      color: variables.$white;
    }
  }

  /*Card Section*/

  .sc-container {
    @include mixins.Container(30rem);
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

    @include include-media.media(">xl") {
      width: 70rem;
    }
  }

  .sc {
    @include mixins.setPosition();
    @include sc-active-hover();
    width: 20rem;
    min-height: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.25rem;
    background-color: rgba(variables.$secondary, 0.9);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);

    &-wrapper {
      display: flex;
      justify-content: center;
      position: relative;

      @include include-media.media(">xl") {
        justify-content: flex-start;
      }
    }

    &-img-wrapper {
      position: relative;
      height: 11.45rem; // Magic Number that fits the card
      width: 100%;
    }

    /*Card Content*/
    &-content {
      height: 50%;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 1.5rem 1.5rem 0 1.5rem;
    }

    &-heading {
      text-align: center;
      color: variables.$primary;
      margin-bottom: 1.25rem;
    }
    &-body {
      height: 100%;
      margin-bottom: 2rem;
      text-align: left;
      color: variables.$white;
    }
  }

  /*Class to be applied to the active card*/
  .sc-active {
    position: relative;
  }
}

@include include-media.media("<lg") {
}

@mixin sc-active-hover() {
  top: 0rem;
  transition: top ease-in-out 150ms;

  @media (hover: hover) {
    &:hover {
      top: -0.5rem;
    }
  }
}
