@use "../abstracts/mixins";
@use "../abstracts/variables";
@use "../vendors/include-media";
@use "../layout/burger";

//Navigation Section
@mixin Navbar($container-width: 100%) {
  nav {
    @include mixins.alignContainer(80%);
  }
  @include mixins.font(variables.$font-sm, variables.$font-sans);

  z-index: variables.$z-5;
  position: sticky;
  top: 0;
  width: 100%;

  .nav-container {
    @include mixins.alignContainer(#{$container-width}, true);
    display: flex;
    justify-content: space-between;
  }

  .nav-ul {
    display: flex;
    list-style-type: none;
    font-size: variables.$font-xs;
    align-items: center;

    //Responsiveness
    @include include-media.media("<lg") {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      font-size: 0.001rem; //Used to prevent horizontal overflow on smaller screen devices. Needs other elegant ways to fix the issue
    }
  }

  .nav-links {
    margin-right: 2.5rem;
    position: relative;

    &:last-child {
      margin-right: 0rem;
    }

    &::after {
      content: "";
      display: block;
      @include navAnimations(variables.$primary, 0);
      transition: all 0.5s ease;
    }
    &:hover::after {
      width: 100%;
    }
  }

  a {
    color: variables.$white;
  }
  .nav-burger-icon {
    @include burger.burger-icon;
  }

  //Mobile navbar and Burger Icon

  .mobile-menu {
    z-index: variables.$z-2;
    width: 90vw;
    height: 73vh;
    position: absolute;
    top: 7.5em;
    left: 5em;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(variables.$accent, 0.98);
    list-style-type: none;
    & li:first-child {
    }

    .nav__links {
      @include mixins.font(variables.$font-sm, variables.$font-sans);
      width: min-content;
      position: relative;
      text-align: center;
      color: variables.$white;
      font-size: variables.$font-sm;

      &::before {
        content: "";
        @include navAnimations(variables.$white, 0, inherit);
        transition: all 0.5s ease;
      }
      &:hover::before {
        width: 100%;
      }
    }
  }

  //Navigation active Class

  .nav-active {
    a {
      position: relative;
      color: variables.$primary;
    }
    span {
      @include navAnimations();
    }
  }
  .nav-active-mobile {
    a {
      color: variables.$primary;
    }
    &::after {
      content: "";
      @include navAnimations(variables.$primary);
    }
  }
}

@mixin navAnimations(
  $border-color: variables.$primary,
  $width: 100%,
  $left: 0
) {
  position: absolute;
  width: $width;
  top: 1.5em;
  right: 0;
  bottom: 0;
  left: $left;
  border-radius: 2px;
  border-bottom: 3px solid $border-color;
}

nav {
  @include Navbar(80%);

  margin-bottom: 5em;
}

.nav-bg {
  background-color: variables.$secondary;
}
