@use "../abstracts";
@use "../vendors/include-media" as bp;
@use "../components/burger";

//Navigation Section
@mixin Navbar($container-width: 100%) {
  nav {
    @include abstracts.Container(80%);
  }

  @include abstracts.font(abstracts.$font-sm, abstracts.$font-sans);

  z-index: abstracts.$z-5;
  position: sticky;
  top: 0;
  width: 100%;

  .nav-container {
    @include abstracts.Container(#{$container-width}, true);

    @include abstracts.flex() {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .nav-ul {
    @include abstracts.flex() {
      align-items: center;
    }

    list-style-type: none;
    font-size: abstracts.$font-xs;

    //Responsiveness
    @include bp.media("<=lg") {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      font-size: 0.001rem; //Used to prevent horizontal overflow on smaller screen devices. Needs other elegant ways to fix the issue
    }
  }

  .nav-links {
    @include abstracts.flex() {
      align-items: center;
    }

    height: 6rem;
    margin-right: 2.5rem;
    position: relative;

    &:last-child {
      margin-right: 0rem;
    }

    &:hover {
      .nav-span::after {
        transform: scaleX(1);
      }
    }
  }

  .nav-span {
    z-index: abstracts.$z-6;
  }

  .nav-span::after {
    @include navAnimations(abstracts.$primary, 0);
    content: "";
    display: inline;
  }

  button {
    color: abstracts.$white;
  }

  .nav-burger-icon {
    @include burger.burger-icon;
  }

  //Mobile navbar and Burger Icon

  .mobile-menu {
    @include abstracts.flex($isEqual: false) {
      justify-content: flex-start;
      align-items: center;
    }

    overflow-y: scroll;
    z-index: abstracts.$z-2;
    width: 100%;
    height: 100vh;
    position: fixed;
    right: 0;
    background: rgba(abstracts.$accent, 0.98);
    list-style-type: none;

    .nav__links {
      @include abstracts.flex-Margin(1.5rem, vertical);
      @include abstracts.font(abstracts.$font-sm, abstracts.$font-sans);
      margin-top: 1rem;
      width: 75%;
      text-align: center;
      position: relative;
      color: abstracts.$white;
      font-size: abstracts.$font-sm;
    }

    .nav__links:first-child {
      margin-top: 7vh;
    }

    .nav-content {
      display: block;
      width: 100%;
    }
  }

  .with-children::before {
    @include abstracts.setPosition(0%, 20%);
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    z-index: abstracts.$z-3;
    transition: transform 0.5s ease-in-out;
  }

  .mobile-children-container {
    @include abstracts.flex($breakpoint-css: (flex-direction: column,
      ));
    position: relative;
    gap: 1.5rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 500ms ease-out;

    a {
      color: rgba(abstracts.$white, 0.65);

      &:first-child {
        margin-top: 1rem;
      }
    }
  }

  //Navigation active Class

  .with-children.active {
    &::before {
      transform: rotate(180deg);
    }

    &>div {
      max-height: 30rem;
    }
  }

  .nav-active {
    &::before {
      content: "";
      @include navAnimations();
    }

    color: abstracts.$primary;
  }

  .nav-active-mobile {
    &>a {
      color: abstracts.$primary;
    }

    &::after {
      content: "";
      @include navAnimations(abstracts.$primary);
      top: 1.75rem;
      width: 50%;
      left: 25%;
    }
  }
}

@mixin navAnimations($border-color: abstracts.$primary, $scale: 1) {
  @include abstracts.setPosition(3.75rem, auto, auto, 0);
  width: 100%;
  transform: scaleX(#{$scale});
  transition: transform 0.45s ease-in-out;
  transform-origin: center;
  border-radius: 2px;
  border-bottom: 3px solid $border-color;
}

.nav {
  @include Navbar(80%);
  transition: top 400ms ease-out;
}

.nav-bg {
  background-color: abstracts.$secondary;
}

@include bp.media(">=lg") {
  .nav__Links {
    &::before {
      content: "";
      @include navAnimations(abstracts.$white, 0);
    }
  }
}

//Hover Menu
.nav-hover-menu {
  @include abstracts.setPosition(0rem);
  z-index: abstracts.$z-5;
  width: 10rem;
  overflow-x: visible;

  .push-content {
    height: 5rem;
  }

  &.hov-packages {
    right: 30%; //magic number that fits the screen
  }

  &.hov-about-bhutan {
    right: 20.5%; //magic number that fits the screen
  }

  .content {
    background-color: abstracts.$secondary;
    padding: 0.1rem 1rem;
    width: 15rem;
  }

  a {
    @include abstracts.flex-Margin(1.25rem, vertical);
    @include abstracts.font(abstracts.$font-sm, abstracts.$font-sans);
    display: flex;
    cursor: pointer;
    color: abstracts.$white;
  }
}