@use "../main" as  *;
@use "../vendors/include-media" as breakpoint;

@use "../layout/pagination" as *;

.dync-name {
  @include Container(80%) {
    box-shadow: $shadow-1;
  }
  background-color: $white;
}

.items {
  @include Container(90%);
  padding-top: 2rem;
  padding-bottom: 2rem;

  &-hr {
    border: none;
    border-radius: 5em;
    background-color: $primary;
    height: 5px;
  }
}

.item {
  @include flex();
  &-img-container {
    max-height: 50rem;
    overflow: hidden;
    width: 100%;
    position: relative;

    @include breakpoint.media(">=lg") {
      width: 40%;
    }
  }

  &-text-container {
    width: 100%;
    @include breakpoint.media(">lg") {
      width: 60%;
    }
  }
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.flex-item {
  @include flex-Margin();
  color: $secondary;
}

.text {
  &-heading-wrapper {
    margin-bottom: 1em;
  }
  &-body-wrapper {
    margin-bottom: 1em;
  }
}

.cta-wrapper button {
  @include Button-anim-icon(
    10em,
    (
      background-color: $accent,
      border-radius: 0.5em,
    ),
    "\f3d1",
    "Ionicons",
    $white
  );
  @include font($font-bold, $font-sans);
  color: $white;
}

.pagination {
  @include paginationMenu;
}
