@use "../main" as  *;
@use "../vendors/include-media" as breakpoint;

@use "../layout/pagination" as *;

.dync-name {
  @include Container(95%) {
    box-shadow: $shadow-1;
  }
  background-color: $white;
}

.items {
  @include Container(90%);
  padding-bottom: 2rem;

  &-hr {
    border: none;
    border-radius: 5em;
    background-color: $accent;
    height: 4px;
  }
}

.item {
  @include flex(
    $breakpoint-css: (
      align-items: center,
    )
  ) {
  }
  &-img-container {
    max-height: 50rem;
    overflow: hidden;
    width: 100%;
    position: relative;
  }

  &-text-container {
    width: 100%;
  }
  padding: 3rem 0rem;
}

.flex-item {
  @include flex-Margin();
  color: $secondary;
}

.text {
  &-heading-wrapper {
    margin-bottom: 1em;
  }
  &-body-wrapper {
    margin-bottom: 1em;
  }
}

.cta-wrapper button {
  @include Button-anim-icon(
    10em,
    (
      background-color: $accent,
      border-radius: 0.5em,
    ),
    "\f3d1",
    "Ionicons",
    $white
  );
  @include font($font-bold, $font-sans);
  color: $white;
}

.pagination {
  @include paginationMenu;
}

@include breakpoint.media(">=lg") {
  .dync-name {
    width: 80%;
  }

  .item {
    &-img-container {
      width: 40%;
    }

    &-text-container {
      width: 60%;
    }
  }
}
