@use "../main" as  *;
@use "../vendors/include-media" as breakpoint;

.dync-name {
  @include Container(80%) {
    box-shadow: $shadow-1;
  }
  background-color: $white;
}

.items {
  @include Container(90%);
  padding-top: 2rem;
  padding-bottom: 2rem;

  &-hr {
    border: none;
    border-radius: 5em;
    background-color: $primary;
    height: 5px;
  }
}

.item {
  @include flex();
  &-img-container {
    max-height: 50rem;
    overflow: hidden;
    width: 100%;
    position: relative;

    @include breakpoint.media(">=lg") {
      width: 40%;
    }
  }

  &-text-container {
    width: 100%;
    @include breakpoint.media(">lg") {
      width: 60%;
    }
  }
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.flex-item {
  @include flex-Margin();
  color: $secondary;
}

.text {
  &-heading-wrapper {
    margin-bottom: 1em;
  }
  &-body-wrapper {
    margin-bottom: 1em;
  }
}

.cta-wrapper button {
  @include Button-anim-icon(
    10em,
    (
      background-color: $accent,
      border-radius: 0.5em,
    ),
    "\f3d1",
    "Ionicons",
    $white
  );
  @include font($font-bold, $font-sans);
  color: $white;
}

.pagination {
  margin-top: 5rem;
  @include flex(
    $breakpoint-css: (
      justify-content: center,
    )
  ) {
    flex-direction: row;
    justify-content: space-evenly;
  }

  button {
    @include btn-anim-outline(
      4.5rem,
      1px solid $accent,
      $white,
      $accent,
      (
        border-radius: 5px,
      )
    );
    @include font($font-bold, $font-sans);
    @include flex-Margin(0.25rem);
    color: $accent;
  }

  & > button {
    visibility: hidden;
    position: absolute;
    opacity: 0;

    @include breakpoint.media(">lg") {
      visibility: visible;
      position: relative;
      opacity: 1;
    }
  }

  .btn-active {
    background-color: $accent;
    color: $primary;
    @media (hover: hover) {
      &:hover {
        color: $primary;
        border: 1px solid $accent;
      }
    }
  }

  .btn-fill-disabled {
    color: rgba($accent, 0.5);
    background-color: $bg;
    border: 1px solid $bg;
    @media (hover: hover) {
      &:hover {
        color: rgba($accent, 0.5);
        border: 1px solid $bg;
      }
      &:hover::before {
        top: 100%;
      }
    }
  }
}
