@use "../main" as  *;
@use "../components/button";
@use "../vendors/include-media" as breakpoint;

.error-wrapper {
  @include Container(80%);
  @include flex(
    $breakpoint-css: (
      flex-direction: column,
    )
  ) {
    justify-content: space-around;
  }
  overflow: hidden;
  height: 60vh;
  background-color: $white;
}
.error-container {
  @include Container(80%);
  @include flex(
    $breakpoint-css: (
      flex-direction: column,
    )
  ) {
  }

  position: relative;

  h1 {
    color: $alert;
    font-size: $font-xl;
  }

  b {
    @include font($font-bold, $font-sans);
    color: $alert;
  }

  hr {
    padding: 2px;
    width: 100%;
    border-radius: 15px;
    background-color: $alert;
    margin: 1rem 0rem 2rem 0rem;
    border: none;
  }
  p {
    @include font($font-bold, $font-serif);
    font-size: $font-md;
    color: $secondary;
    margin-bottom: 3rem;
  }

  a {
    @include button.defaultButton();
  }
}

.error-code {
  @include setPosition(50%, 0, 0, 50%);
  @include font($font-bold, $font-sans);
  color: rgba($alert, 0.2);
  font-size: 20vw;
}

@include breakpoint.media(">=lg") {
  .error-code {
    top: 0%;
  }
}
