@use "../main" as *;
@use "../components/nav.module.scss" as nav;
@use "../layout/_homeSlider.scss" as slider;

@use "../vendors/include-media" as breakpoint;

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
  @include Container(100%);

  &-nav {
    @include nav.Navbar(80%);
  }
}

.container {
  @include Container($width: 90%) {
    margin-bottom: 5rem;
    box-shadow: $shadow-1;
    background: $white;
  }
}

//Hero Container
.hero {
  width: 100%;
  height: 85vh;
  &-bg {
    object-fit: cover;
    object-position: center;
    filter: brightness(40%); //Darken Background Image used in the Hero Seciton
  }
  &-container {
    @include Container(80%);
    height: 100%;
    z-index: $z-1; //Used to bring content above the background
    position: relative;
    color: $white;
  }

  &-center-text {
    @include Container(95%);
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include font($font-bold, $font-sans);

    & span {
      width: 16ch;
      font-size: $font-xl;
      text-transform: uppercase;
      margin-bottom: 1em;
    }

    & h2 {
      font-weight: $font-normal;
      color: $grey;
    }
  }
  margin-bottom: 10%;
}

//Why-us and Cards Section
.cards {
  display: flex;
  flex-direction: column;

  h1 {
    margin: 1.5rem 0rem;
    font-weight: $font-bold;
    color: $secondary;
    text-align: center;
  }

  h2 {
    margin-bottom: 0.5em;
    text-align: center;
    color: $primary;
  }

  p {
    color: $white;
  }

  &-heading {
    display: flex;
    justify-content: center;
  }

  &-container {
    @include flex(
      $breakpoint: "lg",
      $breakpoint-css: (
        flex-direction: row,
        align-items: stretch,
      )
    );
  }

  &-card {
    @include flex-Width(3);
    @include flex-Margin(0.5em);
    background-color: $secondary;
    padding: 1em 1.25em 2.5em 1.25em;
  }

  &-cta {
    @include flex($center: true);
    width: 100%;
    margin: 3rem auto;
    & .cta-btn {
      @include Button-anim-icon(
        20rem,
        (
          background-color: $accent,
          border-radius: 10px,
        ),
        "\f3d1",
        "Ionicons",
        $primary
      );
      @include font($font-bold, $font-sans);
      font-size: $font-md;
      color: $white;
    }
  }
}

.parallex {
  width: 100%;

  &-image-container {
    width: 100%;
    height: 10rem;
    position: relative;
  }

  &-image {
    object-fit: contain;
    filter: brightness(40%); //Darkens Image
    position: fixed;
  }

  &-text {
    @include Container(80%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    span {
      @include font($font-normal, $font-serif);
      color: $white;
      text-align: center;
    }
  }
  margin-bottom: 5rem;
}

//Slider Section
.slider {
  overflow-x: hidden;
  @include slider.homeSlider();
}

//Testimonials Section
.tstmials {
  &-heading {
    @include Container(80%, true, 1rem);
    @include flex($center: true);
    h1 {
      color: $secondary;
    }
  }

  &-wrapper {
    @include flex("sm", $breakpoint-css: (align-items: stretch)) {
      align-items: center;
      justify-content: stretch;
    }
    @include Container(90%);
    padding: 2rem 0rem 0rem 0rem;
  }

  &-cta {
    padding-bottom: 3rem;
  }
}

.tstmials-card {
  @include flex-Width(3 2 1, "sm");
  @include flex-Margin($margin: 1rem, $breakpoint: "sm");
  background-color: rgba($secondary, 0.9);
  box-shadow: $shadow-1;
  position: relative;

  &::before,
  &::after {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    color: $accent;
    filter: opacity(40%);
  }

  &::before {
    @include setPosition(50%, auto, auto, 50%);
    content: "\f10d";
    transform: translate(-50%, 20%);
    filter: opacity(20%);
  }
}

.tc {
  &-img-container {
    position: relative;
    height: 10rem;

    img {
      object-fit: cover;
    }
  }

  &-content {
    padding: 0rem 1.25rem 2rem 1.25rem;

    p {
      color: $white;
    }
  }

  &-title {
    h2 {
      color: $primary;
      text-align: center;
      margin: 1rem 0rem;
    }
  }
}

//Affiliation Section
.aff {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;

  &-h-wrapper {
    margin: 1.5rem auto;
    color: $secondary;
  }
  &-logo-container {
    @include flex() {
      align-items: center;
    }
    width: 90%;
    margin-bottom: 2rem;
  }

  &-logo-wrapper {
    @include flex-Margin(1em);
    @include setPosition(0, 0, 0, 0, relative);
    height: 10rem;
    width: 100%;
    background-color: rgba($color: $primary, $alpha: 0.2);

    @include breakpoint.media("<lg", ">=sm") {
      width: 50%;
    }
  }

  &-logo {
    object-fit: contain;
    object-position: center;
  }

  &-body-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    p {
      @include flex-Margin(1rem, vertical);
      color: $secondary;
    }
  }
}

@include breakpoint.media(">=sm") {
  .hero-centered-text {
    @include Container(85%);
  }
}
