@use "../main" as *;
@use "../components/nav.module.scss" as nav;
@use "../layout/_homeSlider.scss" as slider;

@use "../vendors/include-media" as breakpoint;

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
  @include Container(100%);

  &-nav {
    @include nav.Navbar(80%);
  }
}

//Hero Container
.hero {
  width: 100%;
  height: 85vh;
  &-bg {
    object-fit: cover;
    object-position: center;
    filter: brightness(40%); //Darken Background Image used in the Hero Seciton
  }
  &-container {
    @include Container(80%);
    height: 100%;
    z-index: $z-1; //Used to bring content above the background
    position: relative;
    color: $white;
  }

  &-center-text {
    @include Container(95%);
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include font($font-bold, $font-sans);

    @include breakpoint.media(">=sm") {
      @include Container(85%);
    }

    & span {
      width: 15ch;
      font-size: $font-xl;
      text-transform: uppercase;
      margin-bottom: 1em;

      @include breakpoint.media(">=sm") {
        font-size: $font-xl;
      }
    }

    & h2 {
      font-weight: $font-normal;
      color: $grey;
    }
  }
  margin-bottom: 10%;
}
//Card Section
.card {
  @include Container($width: 90%, $padding: false, $responsive-xxs: true) {
    margin-bottom: 5rem;
    box-shadow: $shadow-1;
  }
  display: flex;
  flex-direction: column;
  background-color: $white;

  &-heading {
    display: flex;
    justify-content: center;
    h1 {
      font-weight: $font-bold;
      color: $secondary;
      text-align: center;
    }
  }

  &-container {
    @include flex(
      "lg",
      (
        flex-direction: row,
        align-items: stretch,
      )
    ) {
      align-items: center;
    }
    margin-bottom: 2em;
  }

  &-cards {
    background: $secondary;
    padding: 1em 1.25em;
    @include flex-Width(3);
    @include flex-Margin(0.5em);
    h2 {
      margin-bottom: 0.5em;
      font-weight: $font-bold;
      text-align: center;
      color: $primary;
    }

    p {
      margin-bottom: 1em;
      color: $white;
    }
  }

  &-cta {
    margin-bottom: 3em;
    @include Container(100%);
    @include Button-anim-icon(
      20rem,
      (
        background-color: $accent,
        border-radius: 10px,
      ),
      "\f3d1",
      "Ionicons",
      $primary
    );
    @include font($font-bold, $font-sans);
    font-size: $font-md;
    color: $white;
  }
}

.parallex {
  @include Container(100%, false, true);

  &-image-container {
    width: 100%;
    height: 10rem;
    position: relative;
  }

  &-image {
    object-fit: cover;
    filter: brightness(40%); //Darkens Image
    position: fixed;
  }

  &-text {
    @include Container(80%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    span {
      @include font($font-normal, $font-serif);
      color: $white;
      text-align: center;
    }
  }
}

//Slider Section
.slider {
  overflow-x: hidden;
  @include slider.homeSlider();
  padding-bottom: 2rem;
}

//Affiliation Section
.aff {
  @include Container(90%, false) {
    margin-bottom: 5rem;
    box-shadow: $shadow-1;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;

  &-h-wrapper {
    color: $secondary;
  }
  &-logo-container {
    @include flex() {
      align-items: center;
    }
    width: 90%;
    margin-bottom: 2rem;
  }

  &-logo-wrapper {
    @include flex-Margin(1em);
    @include setPosition(0, 0, 0, 0, relative);
    height: 10rem;
    width: 100%;
    background-color: rgba($color: $primary, $alpha: 0.2);

    @include breakpoint.media("<lg", ">=sm") {
      width: 50%;
    }
  }

  &-logo {
    object-fit: contain;
    object-position: center;
  }

  &-body-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;

    p {
      @include flex-Margin(1rem, vertical);
      color: $secondary;
    }
  }
}
