@use "../main" as *;
@use "../vendors/include-media" as breakpoint;

.packages {
  @include Container(80%) {
    box-shadow: $shadow-1;
  }
  background-color: $white;
  margin-bottom: 5rem;
  padding: 2rem 0rem;

  & > h1 {
    color: $secondary;
    text-transform: uppercase;
    padding-left: 1rem;
    text-align: center;
    margin-bottom: 3rem;
  }

  &-cards {
    @include flex(
      "xl",
      (
        flex-direction: row,
      ),
      false,
      true
    );
  }

  &-card {
    @include flex-Margin(0.75em);
    position: relative;
    width: 20rem;
    height: 11rem;
    overflow: hidden;
    box-shadow: 0px 0px 10px -2px $black;

    @include breakpoint.media("<sm") {
      width: 14rem;
      height: 8rem;
    }

    .card {
      &-text-wrapper {
        @include setPosition(0, 0, 0, 0);
        z-index: $z-1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
      &-image {
        height: 100%;
        width: 100%;
        position: relative;
        transform: scale(1);
        transform-origin: bottom center;
        filter: brightness(60%);
        @media (hover: hover) {
          filter: brightness(90%);
          transition: transform ease-in-out 0.5s, filter ease-in-out 0.5s;
        }
      }
      &-heading {
        @include font($font-normal, $font-sans);
        padding: 0px 1rem;
        color: $primary;
        text-transform: uppercase;
        text-align: center;

        @media (hover: hover) {
          opacity: 0.05;
          transform: translateY(140%);
          transition: transform ease-in-out 0.35s, opacity ease-in-out 0.45s;
        }
      }
    }

    &:hover {
      .card {
        &-heading {
          transform: translateY(0%);
          opacity: 1;
        }

        &-image {
          transform: scale(1.05);
          filter: brightness(60%);
        }
      }
    }
  }
}
