@use "../main" as  *;
@use "../vendors/include-media" as breakpoint;

.pob {
  @include Container(80%, true, 1rem 2rem) {
    padding: 1rem 2rem;
    background-color: $white;
  }
}

.main-heading {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: $secondary;
}

.cards {
  display: grid;
  grid-gap: 1.5rem 1rem;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
}

.card {
  overflow: hidden;
  width: 100%;
  height: 10rem;
  border: 2px solid $secondary;
  box-shadow: $container-shadow;
  cursor: pointer;

  &::focus,
  &::active {
    border: 2px solid $secondary;
    outline: 2px solid $secondary;
    outline-offset: -2px;
  }

  &-cover {
    position: relative;
    height: 100%;
    width: 100%;

    &-heading {
      @include flex($center: true);
      height: 100%;
      h2 {
        color: $primary;
        position: relative;
        z-index: $z-1;
        text-align: center;
      }
    }

    img {
      filter: brightness(70%);
      object-fit: cover;
      object-position: center;
    }
  }
}

@include breakpoint.media(">=sm") {
  .card {
    width: 17rem;
  }
}
@include breakpoint.media(">=lg") {
  .main-heading {
  }
}
