@use "sass:map";
@use "./functions" as *;
// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Colors
$black: #393743 !default;
$white: #ffffff !default;
$grey: #c1c1c1 !default;

$colors: (
  primary: #d5f1a4,
  secondary: #506629,
  accent: #c39462,
  alert: #e76f6f,
  bg: #f1f1f1,
);

$primary: map.get($colors, primary);
$secondary: map.get($colors, secondary);
$accent: map.get($colors, accent);
$alert: map.get($colors, alert);
$bg: map.get($colors, bg);

///Fonts
$font-sans: "Roboto", sans-serif !default;
$font-serif: "Merriweather", serif !default;

///Font Weights
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-black: 900;

//Font Sizes
$font-sizes: (
  2xl: (
    min: 5rem,
    avg: 7.5vw,
    max: 8rem,
  ),
  xl: (
    min: 2rem,
    avg: 3.5vw,
    max: 4rem,
  ),
  lg: (
    min: 1.4rem,
    avg: 2.2vw,
    max: 2.5rem,
  ),
  md: (
    min: 1.25rem,
    avg: 2vw,
    max: 1.7rem,
  ),
  sm: (
    min: 1.1rem,
    avg: 1.42vw,
    max: 1.3rem,
  ),
  xs: (
    min: 0.85rem,
    avg: 1vw,
    max: 1.1rem,
  ),
  icons: (
    min: 4rem,
    avg: 4.5rem,
    max: 5rem,
  ),
);

$font-2xl: font-clamp(map.get($font-sizes, 2xl));
$font-xl: font-clamp(map.get($font-sizes, xl));
$font-lg: font-clamp(map.get($font-sizes, lg));
$font-md: font-clamp(map.get($font-sizes, md));
$font-sm: font-clamp(map.get($font-sizes, sm));
$font-xs: font-clamp(map.get($font-sizes, xs));
$font-icons: font-clamp(map.get($font-sizes, icons));

///Z- Indexs
$z-1: 1;
$z-2: 2;
$z-3: 3;
$z-4: 4;
$z-5: 5;
$z-6: 5;
$z-7: 5;

///Box Shadows

$shadow-1: 0px 0px 20px -14px #000000;
$shadow-2: 0px 0px 15px -14px #000000;
