@use "sass:map";
@use "./functions" as *;
@use "./functions" as *;
// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Colors
$black: #393743 !default;
$white: #ffffff !default;
$grey: #c1c1c1 !default;

$colors: (
  primary: (
    primary-100: #e6f7c8,
    primary-200: #e2f5bf,
    primary-300: #ddf4b6,
    primary-400: #d9f2ad,
    primary-500: #d5f1a4,
    primary-600: #c0d994,
    primary-700: #aac183,
    primary-800: #95a973,
    primary-900: #809162,
  ),
  secondary: (
    secondary-100: #98a186,
    secondary-200: #879272,
    secondary-300: #76825e,
    secondary-400: #65734a,
    secondary-500: #546336,
    secondary-600: #4c5931,
    secondary-700: #434f2b,
    secondary-800: #434f2b,
    secondary-900: #3b4526,
  ),
  accent: (
    accent-100: #dbbfa1,
    accent-200: #d5b491,
    accent-300: #cfa981,
    accent-400: #c99f72,
    accent-500: #c39462,
    accent-600: #b08558,
    accent-700: #9c764e,
    accent-800: #896845,
    accent-900: #75593b,
  ),
  alert: #e76f6f,
  bg: #f1f1f1,
);

$primary: map.get(map.get($colors, primary), primary-500);
$secondary: map.get(map.get($colors, secondary), secondary-500);
$accent: map.get(map.get($colors, accent), accent-600);
$alert: map.get($colors, alert);
$bg: map.get($colors, bg);

///Fonts
$font-sans: "Roboto", sans-serif !default;
$font-serif: "Merriweather", serif !default;

///Font Weights
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-black: 900;

//Font Sizes
$font-sizes: (
  2xl: (
    min: 5rem,
    avg: 7.5vw,
    max: 8rem,
  ),
  xl: (
    min: 2rem,
    avg: 3.5vw,
    max: 4rem,
  ),
  lg: (
    min: 1.4rem,
    avg: 2.2vw,
    max: 2.5rem,
  ),
  md: (
    min: 1.25rem,
    avg: 2vw,
    max: 1.7rem,
  ),
  sm: (
    min: 1.1rem,
    avg: 1.42vw,
    max: 1.3rem,
  ),
  xs: (
    min: 0.85rem,
    avg: 1vw,
    max: 1.1rem,
  ),
  icons: (
    min: 4rem,
    avg: 4.5rem,
    max: 5rem,
  ),
);

$font-2xl: font-clamp(map.get($font-sizes, 2xl));
$font-xl: font-clamp(map.get($font-sizes, xl));
$font-lg: font-clamp(map.get($font-sizes, lg));
$font-md: font-clamp(map.get($font-sizes, md));
$font-sm: font-clamp(map.get($font-sizes, sm));
$font-xs: font-clamp(map.get($font-sizes, xs));
$font-icons: font-clamp(map.get($font-sizes, icons));

///Z- Indexs
$z-1: 1;
$z-2: 2;
$z-3: 3;
$z-4: 4;
$z-5: 5;
$z-6: 5;
$z-7: 5;

///Box Shadows

$container-shadow: 0px 0px 20px -14px #000000;
$shadow-2: 0px 0px 15px -14px #000000;
$button-shadow: 4px 7px 5px -2px inner-map-item($colors, accent, 200);
$card-shadow: 1px 1px 5px -1px inner-map-item($colors, secondary, 100);
