//Navigation Section
@mixin Navbar($container-width: 100%) {
  nav {
    @include alignContainer(80%);
  }
  @include font($font-sm, $font-sans);

  z-index: $z-5;
  position: sticky;
  top: 0;
  width: 100%;

  .nav-container {
    @include alignContainer(#{$container-width}, true);
    display: flex;
    justify-content: space-between;
  }

  .nav-ul {
    display: flex;
    list-style-type: none;
    font-size: $font-xs;
    align-items: center;

    //Responsiveness
    @include media("<lg") {
      visibility: hidden;
      opacity: 0;
      position: absolute;
    }
  }

  .nav-links {
    margin-right: 2.5rem;
    position: relative;

    &:last-child {
      margin-right: 0rem;
    }

    &::after {
      content: "";
      display: block;
      @include navAnimations($primary, 0);
      transition: all 0.5s ease;
    }
    &:hover::after {
      width: 100%;
    }
  }

  a {
    color: $white;
  }
  .nav-burger-icon {
    @include burger-icon;
  }

  //Mobile navbar and Burger Icon

  .mobile-menu {
    z-index: $z-2;
    width: 90vw;
    height: 73vh;
    position: absolute;
    top: 7.5em;
    left: 5em;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgba($accent, 0.98);
    list-style-type: none;
    & li:first-child {
    }

    .nav__links {
      @include font($font-sm, $font-sans);
      width: min-content;
      position: relative;
      text-align: center;
      color: $white;
      font-size: $font-sm;

      &::before {
        content: "";
        @include navAnimations($white, 0, inherit);
        transition: all 0.5s ease;
      }
      &:hover::before {
        width: 100%;
      }
    }
  }

  //Navigation active Class

  .nav-active {
    a {
      position: relative;
      color: $primary;
    }
    span {
      @include navAnimations();
    }
  }
  .nav-active-mobile {
    a {
      color: $primary;
    }
    &::after {
      content: "";
      @include navAnimations($primary);
    }
  }
}

@mixin navAnimations($border-color: $primary, $width: 100%, $left: 0) {
  position: absolute;
  width: $width;
  top: 1.5em;
  right: 0;
  bottom: 0;
  left: $left;
  border-radius: 2px;
  border-bottom: 3px solid $border-color;
}
