@use "../abstracts/mixins";
@use "../abstracts/variables";
@use "../vendors/include-media";

@mixin footerWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  @include mixins.flex-Margin(1.5rem, vertical);
  h3 {
    color: variables.$primary;
    padding-left: 3rem;
    margin-bottom: 1rem;

    &::before {
      font-family: "Ionicons";
      color: variables.$primary;
      font-size: variables.$font-md;
      @include mixins.setPosition(-0.5rem, auto, auto, 0);
    }
  }
  a,
  p {
    color: variables.$white;
    font-family: variables.$font-sans;
  }

  a {
    position: relative;
    z-index: variables.$z-2;
    margin-bottom: 1rem;
    text-decoration: underline;
  }
}

.footer {
  @include mixins.Container(100%);
  padding: 1rem 1.5rem;
  background-color: variables.$secondary;

  &-container {
    @include include-media.media(">=lg") {
      @include mixins.Container($width: 80%, $responsive-xxs: true);
    }
  }

  &-contacts {
    display: flex;
    flex-direction: column;
    @include mixins.Container(70%);

    //Responsiveness
    @include include-media.media(">=lg") {
      width: 100%;
      justify-content: space-between;
      align-items: stretch;
      flex-direction: row;
    }
  }

  &-wrapper {
    @include footerWrapper();
  }

  &-hr {
    background-color: variables.$primary;
    border-radius: 5px;
    height: 5px;
    border: none;
  }

  &-end {
    @include mixins.flex();
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
  }
  &-socials {
    @include mixins.flex() {
      flex-direction: row;
      justify-content: space-evenly;
    }
    width: 70%;
    a::before {
      font-family: "Font Awesome 5 Free";
      color: variables.$accent;
      font-size: 45px;
    }
    a:first-child::before {
      content: "\f082";
    }
    a:nth-child(2)::before {
      content: "\f081";
    }
  }
  &-copyright {
    @include mixins.flex-Margin(1rem);
    color: variables.$white;

    i::before {
      content: "\f1f9 \ ";
      padding-right: 0.15rem;
      font-family: "Font Awesome 5 Free";
      font-size: variables.$font-xs;
      color: variables.$white;
    }
  }
}

.footer-wrapper.call-us {
  h3 {
    &::before {
      content: "\f2d2";
    }
  }
}

.footer-wrapper.email-us {
  h3 {
    &::before {
      content: "\f2eb";
    }
  }
}

.footer-wrapper.address {
  h3::before {
    content: "\f3c5";
    font-family: "Font Awesome 5 Free";
  }
}

.license {
  @include mixins.flex(
    $breakpoint-css: (
      flex-direction: row,
      justify-content: center,
    )
  ) {
    flex-direction: row;
    justify-content: center;
  }

  a {
    margin-right: 0.5rem;
    color: variables.$white;
    text-decoration: underline;
    @include mixins.font(variables.$font-normal, variables.$font-sans);

    &:active {
      color: variables.$primary;
    }
  }
  p {
    color: variables.$white;
  }
}

@include include-media.media(">=lg") {
  .footer-socials {
    a::before {
      @include mixins.flex-Margin(1.25rem);
      font-size: variables.$font-lg;
    }
  }
}
