@use "../abstracts/mixins";
@use "../abstracts/variables";
@use "../vendors/include-media";
@use "../layout/burger";

//Navigation Section
@mixin Navbar($container-width: 100%) {
  nav {
    @include mixins.Container(80%);
  }
  @include mixins.font(variables.$font-sm, variables.$font-sans);

  z-index: variables.$z-7;
  position: sticky;
  top: 0;
  width: 100%;

  .nav-container {
    @include mixins.Container(#{$container-width}, true);
    display: flex;
    justify-content: space-between;
  }

  .nav-ul {
    display: flex;
    list-style-type: none;
    font-size: variables.$font-xs;
    align-items: center;

    //Responsiveness
    @include include-media.media("<lg") {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      font-size: 0.001rem; //Used to prevent horizontal overflow on smaller screen devices. Needs other elegant ways to fix the issue
    }
  }

  .nav-links {
    height: 6rem;
    margin-right: 2.5rem;
    position: relative;
    display: flex;
    align-items: center;

    &:last-child {
      margin-right: 0rem;
    }

    &:hover {
      .nav-span::after {
        width: 100%;
      }
    }
  }

  .nav-span {
    &::after {
      content: "";
      display: inline;
      @include navAnimations(variables.$primary, 0);
      transition: all 0.5s ease;
    }
  }

  button {
    color: variables.$white;
  }
  .nav-burger-icon {
    @include burger.burger-icon;
  }

  //Mobile navbar and Burger Icon

  .mobile-menu {
    z-index: variables.$z-2;
    width: 100%;
    height: 100vh;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: rgba(variables.$accent, 0.98);
    list-style-type: none;

    .nav__links {
      @include mixins.flex-Margin(1.5rem, vertical);
      @include mixins.font(variables.$font-sm, variables.$font-sans);
      margin-top: 1rem;
      width: 50%;
      text-align: center;
      position: relative;
      color: variables.$white;
      font-size: variables.$font-sm;
    }

    .nav__links:first-child {
      margin-top: 7rem;
    }
  }

  //Navigation active Class
  .nav-active {
    &::before {
      content: "";
      @include navAnimations();
    }

    color: variables.$primary;
  }

  .nav-active-mobile {
    a {
      color: variables.$primary;
    }
    &::after {
      content: "";
      @include navAnimations(variables.$primary);
      top: 1.75rem;
      width: 50%;
      left: 25%;
    }
  }
}

@mixin navAnimations($border-color: variables.$primary, $width: 100%) {
  @include mixins.setPosition(3.75rem, auto, auto, 0);
  width: $width;

  border-radius: 2px;
  border-bottom: 3px solid $border-color;
}

.nav {
  @include Navbar(80%);
  transition: top 400ms ease-out;
}

.nav-bg {
  background-color: variables.$secondary;
}

@include include-media.media(">=lg") {
  .nav__Links {
    &::before {
      content: "";
      @include navAnimations(variables.$white, 0);
      transition: all 0.5s ease;
    }
    &:hover::before {
      width: 100%;
    }
  }
}

//Hover Menu
.nav-hover-menu {
  @include mixins.setPosition(0rem);

  .push-content {
    height: 5rem;
    width: 1rem;
  }

  &.hov-packages {
    right: 25%; //magic number that fits the screen
  }

  &.hov-about-bhutan {
    right: 17.5%; //magic number that fits the screen
  }

  .content {
    background-color: variables.$secondary;
    padding: 0.1rem 1rem;
    width: 15rem;
  }

  a {
    @include mixins.flex-Margin(1.25rem, vertical);
    @include mixins.font(variables.$font-sm, variables.$font-sans);
    display: flex;
    cursor: pointer;
    color: variables.$white;
  }
}
