// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
@use "../abstracts/variables";
@use "../vendors/include-media" as breakpoint;

.hidden-nav {
  top: 0px;
}
.visible-nav {
  top: 90px;
}

.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

.z-5 {
  z-index: variables.$z-5;
}
.z-6 {
  z-index: variables.$z-7;
}

.overlay.tint-bg {
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.overlay {
  transition: all ease-in-out 250ms;
  z-index: variables.$z-6;
  width: 100%;
  position: fixed;
}

.ico {
  font-style: normal;
}

.btn-disabled {
  background: variables.$grey !important;
  color: variables.$accent !important;

  &:hover::before {
    top: 100% !important;
  }
}

@include breakpoint.media("<=sm") {
  .table-container {
    width: 100%;
    overflow-x: scroll;
  }
}
