// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
@use "../abstracts/variables";

.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

.z-5 {
  z-index: variables.$z-5;
}
.z-6 {
  z-index: variables.$z-7;
}

.overlay.tint-bg {
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.overlay {
  z-index: variables.$z-6;
  height: 0%;
  width: 100%;
  position: fixed;
}

.ico {
  font-style: normal;
}
